body {
    background: #cad2c5;
}

.navHeader{
    
}
.mainHeader {
    color: #5E503F;
}
.sectionHeader {
    color: #40916c;
    font-size: 20px;
}

.articleHeader {
    color: #0A0908;
}

.paragraph {
    color: 081c15;
    padding: 5px;
}

.link{
    color: #31572c;
}

.img{
width: 100%;

}

.footer{
    margin-top: 50px;
    background: #52796f;
    color: white;
    padding: 5px;
}