body {
    background: #cad2c5;
}

.main{
    width: 100%;
    max-width: 700px;
    /*min-width: 300px;
    height: 200px;
   overflow: scroll;
   width: 50vw; procent w zależności do całej strony, a nie rodzica*/
    margin: 20px auto;
    padding-top: 50px;
}

/*.mainHeader {
    color: #5E503F;
    height: 20vh;
    margin-bottom: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red ;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 2; wyświetlanie nad innym elementem
    position: fixed; przyklej element do okna 
    position: sticky;
    top: 0;
}*/


.navigation{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 15px;
    background: #52796f;
}

.navigation__link{
    text-decoration: none;
    color: white;
}


.about{
    position: relative;
    overflow: hidden;
}

.about__header {
    color: #40916c;
    font-size: 24px;
}

.about__paragraph{
    color: 081c15;
    padding: 15px 15px;
}

.about__picture{
    width: 100%;
    max-width: 500px;
    display: block;
    float: left;
    float: right; /*teraz juz nie stosuje się, teraz flex box*/
    margin: 0 0 0 16px;
}

.ideas{
    clear: both;
}

.ideas__header {
    color: #40916c;
    font-size: 20px;
}

.ideas__header-title {
    font-size: 20px;
}


.ideas__paragraph {
    color: 081c15;
    padding: 15px 15px;
    border-bottom: 2px dotted #31572c;
    /*border-radius: 50%; kółko */
}

.ideas__link{
    text-decoration: none;
    color:#31572c;  
}

.footer-img{

}

.footer-img__image{
    width: 100%;
}
.footer{
    margin-top: 50px;
    background: #52796f;
    color: white;
    padding: 5px;
}

.footer__top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color:#31572c;  
}